@import "tailwindcss";

.animate{
    animation: giggle 0.1s ease-in-out 3 ;
}

@keyframes giggle {
    0%{
    }50%{
        transform: translateX(2px);
        /* transform: translateY(2px); */

    }100%{
        transform: translateX(0px);
        /* transform: translateY(0px); */

    }
}